$WHITE: #fff;
$BLACK: #000;
$GRAY: #CFCFCF;
$GREEN: #618967;
$GREEN-LIGHT: #79B382;
$GREEN-GRADIENT: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
$BACKGROUND: #393535;
$BACKGROUND-LIGHT: linear-gradient(90deg, #494544 0%, #504B4A 100%);
$FOOTER-BACKGROUND-GRADIENT: linear-gradient(304deg, #44403f 0%, #211f20 100%);